@model UrlShortenerSkilskyi.Models.About
@{
}

<h1>About</h1>

<p>@Model.Description</p>

@if (User.IsInRole("admin"))
{
    <form method="post" asp-controller="About" asp-action="Edit">
        <textarea name="description" rows="4" cols="50">@Model.Description</textarea>
        <button type="submit">Save</button>
    </form>
}
