@model string

<h1>URL Shortener</h1>

<div class="container py-5">
    <form method="post" action="/Url/Add">
        <div class="mb-3">
            <label class="form-label">Original Url</label>
            <input type="text" class="form-control" id="originalurl" name="OriginalUrl" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>

    @if (!string.IsNullOrEmpty(Model))
    {
        <div class="alert alert-success" role="alert">
           
            Short URL: <a href="https://localhost:7067/@Model">https://localhost:7067/@Model</a> @* Be carefull!!! Hard code here *@
        </div>
    }

</div>
